@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hoverShow {

  background-color: #E5F1EB;
  padding: 0em 1em;
  border-radius: 2em;

}

.buttonHover {
  background: #1D1D1B;
  padding: 0.2em 1em;
  color: white;
  border-radius: 1em;
  position: absolute;
  left: 2.24em;
  font-size: 1.5em;
  width: 10em;
  top: 16em;
}

.heading {
  font-size: 2em;
  font-weight: 700;
}

.firstHover {
  position: absolute;
  left: 8em;
  font-size: 1.25em;
  padding: 0.4em;
  top: -2em;
  background-color: hsla(0, 0%, 95%, .85);
  border-radius: 1em;
  transform: rotate(19deg);
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: center;
  width: 14em;
  transition: transform 0.3s ease-in;
  transition-duration: 0.15s;
  animation: rotateAnimation 0.15s ease-in forwards;
}

.firstHover.active {
  display: block;
  animation: rotateAnimation 0.3s ease-in forwards;
  /* Apply the animation */
}

.firstWithoutHover {
  display: none;
}

.secondWithoutHover {
  display: none;
}

.thirdWithoutHover {
  display: none;
}

.mainHeadingWithoutHover {
  font-size: 2.5em;
  margin-top: 5em;
  font-weight: 500;
}

.buttonWithoutHover {
  display: none;
}

.iconWithoutHover {
  position: relative;
  width: 5em;
}
/* .buttonOnSmall {
display: none;
} */
.secondHover {
  position: relative;
  left: 6em;
  font-size: 1.25em;
  padding: 2em;
  top: 5.5em;
  background-color: hsla(0, 0%, 95%, .85);
  border-radius: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 2.5em;
  transition: transform ease-in 0.3s;
  transform: rotate(-9deg);
  z-index: 10;
  transition-duration: 0.15s;
  animation: secondRotateAnimation 0.2s ease forwards;
}

.thirdHover {
  position: absolute;
  background-color: hsla(0, 0%, 95%, .85);
  left: 11em;
  top: 16.9em;
  border-radius: 1em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  height: 2.5em;
  font-size: 1.2em;
  transition: transform ease-in-out 0.3s;
  transform: rotate(12deg);
  z-index: 10;
  font-weight: 600;
  transition-duration: 0.15s;
  animation: thirdRotateAnimation 0.2s ease-in forwards;
  width: 10em;
}
.buttonOnLarge{
  display: none;
}

.mainHeadingHover {
  position: absolute;
  top: 5.2em;
  font-weight: 500;
  font-size: 2.2em;
}

.iconHover {
  position: absolute;
  width: 4em;
}

.mainGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /* Add gap between grid items, adjust as needed */
  margin: 5rem auto;
  /* Center the grid container horizontally and add top/bottom margin */
  max-width: 1200px;
  /* Set a maximum width for the grid container, adjust as needed */
  width: 100%;
  /* Ensure the container doesn't exceed its max-width */
  padding: 0 1rem;
  /* Optional: Add padding to the container */
}
.listOfTerrif {
display: none;
}
.buttonHover:hover {
  -webkit-animation: pulse-animation 2s infinite;
  animation: pulse-animation 2s infinite;

}

@media (min-width: 1280px) {
  
}

@media (max-width: 1024px) and (min-width: 768px) {
  .iconWithoutHover {
    position: relative;
    width: 3em;
    margin-top: 1em;
  }
  .mainHeadingWithoutHover {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  .buttonOnSmall {
    background: #1D1D1B;
    padding: 0.2em 1em;
    color: white;
    border-radius: 1em;
    position: relative;
    left: 2em;
    font-size: 1.5em;
    width: 10em;
    top: 4em;
}

  .buttonOnSmall:hover {
    -webkit-animation: pulse-animation 2s infinite;
    animation: pulse-animation 2s infinite;
  
  }
  .listOfTerrif {
    list-style: disc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 1em;
    font-size: 1.25em;
    font-weight: 500;
    margin-left: 2em;
  }
}

@media (max-width: 768px) and (min-width: 350px) {
  .mainGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    /* Add gap between grid items, adjust as needed */
    margin: 5rem auto;
    /* Center the grid container horizontally and add top/bottom margin */
    max-width: 1200px;
    /* Set a maximum width for the grid container, adjust as needed */
    width: 100%;
    /* Ensure the container doesn't exceed its max-width */
    padding: 0 1rem;
    /* Optional: Add padding to the container */
  }
  .iconWithoutHover {
    position: relative;
    width: 3em;
    margin-top: 1em;
  }
  .mainHeadingWithoutHover {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  .buttonOnSmall {
    background: #1D1D1B;
    padding: 0.2em 1em;
    color: white;
    border-radius: 1em;
    position: relative;
    left: 2em;
    font-size: 1.5em;
    width: 10em;
    top: 2em;
}

  .buttonOnSmall:hover {
    -webkit-animation: pulse-animation 2s infinite;
    animation: pulse-animation 2s infinite;
  
  }
  .listOfTerrif {
    list-style: disc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 1em;
    font-size: 1.25em;
    font-weight: 500;
    margin-left: 2em;
  }

}


@keyframes rotateAnimation {
  from {
    transform: rotate(30deg);
    opacity: 0;
  }

  to {
    transform: rotate(15deg);
    opacity: 1;
  }
}

@keyframes buttonAnimate {
  from {
    box-shadow: #1D1D1B 0 10 20;
  }

  to {
    box-shadow: none
  }
}

@keyframes secondRotateAnimation {
  from {
    transform: rotate(5deg);
    opacity: 0;
  }

  to {
    transform: rotate(-19deg);
    opacity: 1;
  }
}

@keyframes thirdRotateAnimation {
  from {
    transform: rotate(28deg);
    opacity: 0;
  }

  to {
    transform: rotate(7deg);
    opacity: 1;
  }
}

@keyframes pulse-animation {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(29, 29, 27, .2);
    box-shadow: 0 0 0 0 rgba(29, 29, 27, .2);
  }

  100% {
    -webkit-box-shadow: 0 0 0 20px transparent;
    box-shadow: 0 0 0 20px transparent;
  }
}